* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

:root {
    --section-background: #121212;
    --serch-bar: #242424;
    --music-card: #CA3189;
    --podcast-card: #006450;
    --live-event-card: #8400E7;
    --for-you-card: #1E3264;
    --dance-card: #D84000;
    --focus--card: #503751;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: calc(100vh - 80px);
}

.main {
    background-color: aquamarine;
    width: calc(100% - 350px);
    height: calc(100vh - 90px);
    overflow: auto;
    border-radius: 10px;
    margin: 5px 5px 5px 0;
    background-color: var(--section-background);
}

.nav {
    height: 80px;
    background-color: bisque;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--section-background);
    z-index: 1001;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.top-sidebar {
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: var(--section-background);
}

.bottom-sidebar {
    height: calc(100vh - 195px);
    overflow: auto;
    border-radius: 10px;
    margin: 5px;
    background-color: var(--section-background);
}


/* utility spacing*/
.bg-padding {
    padding: 30px;
}

.smll-padding {
    padding: 10px;
}

.lft-smll-padding {
    padding-left: 10px;
}

.rght-smll-padding {
    padding-right: 10px;
}

.smll-gap {
    gap: 10px;
}

/* txt utility */

.smll-font {
    font-size: 0.8em;
}

.big-font {
    font-size: 30px;
}

.big-font-card {
    font-size: 25px;
}

.bg-weight {
    font-weight: 800;
}

/* flex-utility */
.wrap {
    flex-wrap: wrap;
}
.jsutify-between {
    justify-content: space-between;
}

.column-direction {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.jsutify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-content: center;
    align-items: center;
}

.column-direction {
    flex-direction: column;
}

input {
    background-color: var(--serch-bar);
    border-radius: 50px;
    height: 48px;
    padding: 6px 36px;
    border: none;
    color: white;
}

/* nav */

.arrow {
    height: 30px;
    width: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrows {
    gap: 10px;
    padding: 10px;
}

.btn {
    background-color: black;
    border-radius: 50px;
    padding: 10px 15px;
}

.nav-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main card  */

.card {
    width: calc(100% / 4 - 20px);
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card:hover img {
    transform: rotate(-40deg);
    transition: all 0.3s;
}

.card.first {
    background-color: var(--dance-card);
}

.card.second {
    background-color: var(--focus--card);
}

.card.third {
    background-color: var(--for-you-card);
}

.card.fourth {
    background-color: var(--live-event-card);
}

.card.fifth {
    background-color: var(--music-card);
}

.card.sixth {
    background-color: var(--podcast-card);
}

.album {
    width: 50%;
    position: absolute;
    right: -20px;
    bottom: -20px;
    transform: rotate(40deg);
}

img {
    max-width: 100%;
    display: block;
}

/* sidebar card */

.sidebar-card{
    background-color: var(--section-background)
    border-radius: 5px;
    margin: 0 10px;
}

.sidebar-card:hover{
    background-color: var(--serch-bar);
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.sidebar-img {
    width: 50px;
}

.sidebar-img img {
    border-radius: 5px;
}

.btn:hover {
    background-color: green;
    transition:all 0.3s;

}

/* toolbar */
#toolbar {
    background-color: var(--tool-bar-color);
    height: 80px; 
    overflow: hidden;
    z-index: 10002;
}

.currently {
    width: 50px;
}

.right-toolbar {
    max-width: 100%;
    min-width: 0;
}

.center-toolbar {
    max-width: 100%;
    min-width: 0;
}

.left-toolbar {
    max-width: 100%;
    min-width: 0;
}


/* music player bar */

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 0.5rem;
    width: 50vw;
    margin-top: 10px;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 0.5rem;
    display: flex;
  }

  .progress-value:hover{
    background: green;
    transition: 0.5s;
    cursor: pointer;
  }

  .progress-value:hover .pointer-progress {
    opacity: 1;
    transition: 0.5s;
  }

  .pointer-progress {
    opacity: 0;
    height: 1rem;
    width: 1rem;
    background-color: green;
    position: relative;
    left: 98%;
    bottom: 4px;
    border-radius: 50%;
  }

  .timing {
    padding: 5px;
    color: white;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 68%; }
  }
  
  /* volume bar */
  .progress-volume {
    background: rgba(255,255,255,0.1);
    margin-bottom: 10px;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 0.5rem;
    width: 5vw;
    margin-top: 10px;
  }
  
  .progress-value-volume {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 0.5rem;
    display: flex;
  }

  .progress-value-volume:hover{
    background: green;
    transition: 0.5s;
    cursor: pointer;
  }

  .pointer-progress-volume {
    opacity: 0;
    height: 1rem;
    width: 1rem;
    background-color: green;
    position: relative;
    left: 96%;
    bottom: 4px;
    border-radius: 50%;
  }

  .progress-value-volume:hover .pointer-progress-volume {
    opacity: 1;
    transition: 0.5s;
  }

  .timing {
    padding: 5px;
    color: white;
  }

  .center-toolbar i:hover {
    transform: scale(1.5);
    transition: .3s ease;
    cursor: pointer;
}

/* meida queris */

@media all and(max-width: 1200px) {
    .card {
        width: calc(100% / 3 - 20px);
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
}

@media all and (max-width: 992px) {
    .card {
        width: calc(100% / 2 - 20px);
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
}

@media all and (max-width: 768px) {
    .card {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .sidebar .top-sidebar {
        display: none;
    }

    .sidebar .bottom-sidebar {
        height: calc(100vh - 95px);
        overflow: auto;
        border-radius: 10px;
        margin: 5px;
        background-color: var(--section-background);
    }

    .nav {
        height: 80px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--section-background);
        z-index: 1001;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .right-toolbar {
        display: none;
    }
}











