/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --main-color: #1C1F26;
    --side-color: #000000;
    --tool-bar-color: #2C2C2C;
    --txt-grey-color: #7F8185;
}

.wrapper {
    height: 100vh;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.content {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: var(--main-color)
}

#toolbar {
    background-color: var(--tool-bar-color);
    height: 70px;   
}

#sidebar {
    width: 200px;
    height: calc(100vh - 70px);
    flex-shrink: 0;
    background-color: var(--side-color);
}

main {
    flex-grow: 1;
    padding-top: 100px;
    overflow-y: auto;
}

hr {
    margin: 10px;
    width: 80%;
}

.menu {
    text-transform: uppercase;
}


.header {
    background-color: rgba(0, 0, 0, 0.393);
    height: 70px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
}

.card {
    width: calc(100% / 6 - 10px);
    padding: 10px;
    
}

.small-logo {
    display: none;
}

.logo {
    width: 150px;
}

.icon {
    width: 25px;
}

.photo-round {
    border-radius: 50%;
    overflow: hidden;
}

/* utility */

.container-sidebar {
    height: calc(100% - 70px);
    
}

.dbl-font {
    font-size: 1.5rem;
    font-weight: 700;
}

.sml-font {
    font-size: 0.9em;
}

.small-padding {
    padding: 10px;
}

.small-lft-padding {
    padding-left: 10px;
}

.big-padding {
    padding: 20px;
}

.big-rght-padding {
    padding-right: 50px;
}

.txt-white {
    color: white;
}

.txt-gray {
    color: var(--txt-grey-color);
}

.txt-center {
    text-align: center;
}

.cross {    
    color: black;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 800;
    display: inline-block;
    background-color: var(--txt-grey-color);
}

.plaied {
    width: 50px;
}

/* flex utility */

.wrap {
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
    align-content: center;
}

.align-end {
    align-items: flex-end;
}

.jsutify-center {
    justify-content: center;
}

.jsutify-end {
    justify-content: flex-end;
}

.jsutify-between {
    justify-content: space-between;
}

.small-gap {
    gap: 20px;
    padding: 10px;
}

.flex-row {
    flex-direction: row;
}

.column-direction {
    flex-direction: column;
}

/* button */

.btn {
    text-transform:uppercase;
    color: white;
    display: block;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px 30px;

}

/* media queris */

@media all and (max-width: 776px ) {
    .card {
        width: calc(100% / 4 - 10px);   
    }

    .row {
        flex-wrap: wrap;
    }

    .menu > ul {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 576px) {
    .row {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }

}

@media all and (max-width: 400px) {
    #sidebar {
        width: 50px;
    }

    .card {
        width: 100%;
    }

    .header {
        background-color: rgba(0, 0, 0, 0.393);
        height: 60px;
        position: fixed;
        top: 0;
        left: 45px;
        width: calc(100% - 45px);
    }

    .des {
        display: none;
    }

    .small-logo {
        display: block;
        width: 45px;
        padding: 10px;
    }

    .logo {
        display: none;
    }
  


}
